name: Pi kernel build tests

on:
  pull_request:
    paths-ignore:
      - '.github/**'
    branches: [ "mtx-*" ]
  push:
    paths-ignore:
      - '.github/**'
    branches: [ "mtx-*" ]
  workflow_dispatch:

env:
  NUM_JOBS: 3

jobs:

  build-bcmrpi:

    runs-on: ubuntu-latest

    steps:
    - name: Update install
      run:
        sudo apt-get update

    - name: Install toolchain
      run:
        sudo apt-get install gcc-arm-linux-gnueabihf
      timeout-minutes: 5

    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        clean: true

    - name: Build kernel
      run: |
        mkdir ${{github.workspace}}/build
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build bcmrpi_defconfig
        scripts/config --file ${{github.workspace}}/build/.config --set-val CONFIG_WERROR y
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build -j ${{env.NUM_JOBS}} zImage modules dtbs
        mkdir -p ${{github.workspace}}/install/boot/overlays
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build INSTALL_MOD_PATH=${{github.workspace}}/install modules_install
        cp ${{github.workspace}}/build/arch/arm/boot/dts/*.dtb ${{github.workspace}}/install/boot/
        cp ${{github.workspace}}/build/arch/arm/boot/dts/overlays/*.dtb* ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/arch/arm/boot/dts/overlays/README ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/build/arch/arm/boot/zImage ${{github.workspace}}/install/boot/kernel.img

    - name: Tar build
      run: tar -cvf bcmrpi_build.tar -C ${{github.workspace}}/install .

    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: bcmrpi_build
        path: bcmrpi_build.tar
        retention-days: 7

  build-bcm2709:

    runs-on: ubuntu-latest

    steps:
    - name: Update install
      run:
        sudo apt-get update

    - name: Install toolchain
      run:
        sudo apt-get install gcc-arm-linux-gnueabihf
      timeout-minutes: 5

    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        clean: true

    - name: Build kernel
      run: |
        mkdir ${{github.workspace}}/build
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build bcm2709_defconfig
        scripts/config --file ${{github.workspace}}/build/.config --set-val CONFIG_WERROR y
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build -j ${{env.NUM_JOBS}} zImage modules dtbs
        mkdir -p ${{github.workspace}}/install/boot/overlays
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build INSTALL_MOD_PATH=${{github.workspace}}/install modules_install
        cp ${{github.workspace}}/build/arch/arm/boot/dts/*.dtb ${{github.workspace}}/install/boot/
        cp ${{github.workspace}}/build/arch/arm/boot/dts/overlays/*.dtb* ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/arch/arm/boot/dts/overlays/README ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/build/arch/arm/boot/zImage ${{github.workspace}}/install/boot/kernel7.img

    - name: Tar build
      run: tar -cvf bcm2709_build.tar -C ${{github.workspace}}/install .

    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: bcm2709_build
        path: bcm2709_build.tar
        retention-days: 7

  build-bcm2711:

    runs-on: ubuntu-latest

    steps:
    - name: Update install
      run:
        sudo apt-get update

    - name: Install toolchain
      run:
        sudo apt-get install gcc-arm-linux-gnueabihf
      timeout-minutes: 5

    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        clean: true

    - name: Build kernel
      run: |
        mkdir ${{github.workspace}}/build
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build bcm2711_defconfig
        scripts/config --file ${{github.workspace}}/build/.config --set-val CONFIG_WERROR y
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build -j ${{env.NUM_JOBS}} zImage modules dtbs
        mkdir -p ${{github.workspace}}/install/boot/overlays
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- O=${{github.workspace}}/build INSTALL_MOD_PATH=${{github.workspace}}/install modules_install
        cp ${{github.workspace}}/build/arch/arm/boot/dts/*.dtb ${{github.workspace}}/install/boot/
        cp ${{github.workspace}}/build/arch/arm/boot/dts/overlays/*.dtb* ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/arch/arm/boot/dts/overlays/README ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/build/arch/arm/boot/zImage ${{github.workspace}}/install/boot/kernel7l.img

    - name: Tar build
      run: tar -cvf bcm2711_build.tar -C ${{github.workspace}}/install .

    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: bcm2711_build
        path: bcm2711_build.tar
        retention-days: 7

  build-bcm2711-arm64:

    runs-on: ubuntu-latest

    steps:
    - name: Update install
      run:
        sudo apt-get update

    - name: Install toolchain
      run:
        sudo apt-get install gcc-arm-linux-gnueabihf
      timeout-minutes: 5

    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        clean: true

    - name: Install toolchain
      run:
        sudo apt-get install gcc-aarch64-linux-gnu
      timeout-minutes: 5

    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        clean: true

    - name: Build kernel
      run: |
        mkdir ${{github.workspace}}/build
        make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- O=${{github.workspace}}/build bcm2711_defconfig
        scripts/config --file ${{github.workspace}}/build/.config --set-val CONFIG_WERROR y
        make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- O=${{github.workspace}}/build -j ${{env.NUM_JOBS}} Image.gz modules dtbs
        mkdir -p ${{github.workspace}}/install/boot/overlays
        make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- O=${{github.workspace}}/build INSTALL_MOD_PATH=${{github.workspace}}/install modules_install
        cp ${{github.workspace}}/build/arch/arm64/boot/dts/broadcom/*.dtb ${{github.workspace}}/install/boot/
        cp ${{github.workspace}}/build/arch/arm64/boot/dts/overlays/*.dtb* ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/arch/arm64/boot/dts/overlays/README ${{github.workspace}}/install/boot/overlays/
        cp ${{github.workspace}}/build/arch/arm64/boot/Image.gz ${{github.workspace}}/install/boot/kernel8.img

    - name: Tar build
      run: tar -cvf bcm2711_arm64_build.tar -C ${{github.workspace}}/install .

    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: bcm2711_arm64_build
        path: bcm2711_arm64_build.tar
        retention-days: 7
